html {
  height: 100vh;
}

img {
  height: 100vh;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge {
  height: 100%;
}

.comic-bubble {
  position: relative;
  background: #ffffff;
  border: 4px solid #000000;
  border-radius: 20px;
  padding: 20px;
  width: fit-content;
  max-width: 300px;
  text-align: center;
  margin-right: 30px; 
}

.comic-bubble::after {
  content: '';
  position: absolute;
  right: -28px;
  top: 50%;
  transform: translateY(-50%);
  border-width: 15px 0 15px 28px; 
  border-style: solid;
  border-color: transparent transparent transparent #000000;
}

.comic-bubble::before {
  content: '';
  position: absolute;
  right: -20px; 
  top: 50%;
  transform: translateY(-50%);
  border-width: 11px 0 11px 20px;
  border-style: solid;
  border-color: transparent transparent transparent #ffffff;
  z-index: 1;
}


@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1); 
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
  
}


.heartbeat-icon {
      animation: heartbeat 2s ease-in-out infinite;
      transition: transform 0.3s ease;
    }

.heartbeat-icon:hover {
      animation-play-state: paused;
      transform: scale(1.15) !important;
    }

  .border-active {
    border: 5px solid black;
    border-radius: 50%;
  }